// colors
$navy1: #2c3782;
$green1: #2cb2a5;
$orange1: #f6a447;
$orange2: #fff5e9;
$purple1: #7b61ff;
$red1: #f27e7c;
$blue2: #4263eb;
$green2: #e2fffc;
$grayLine: #e2e2e2;
$red2: #ffdada;
$red3: #f34946;
$blue3: #f5f7fb;
$textgray: #666666;
// sizes
$header-height: 50px;
$main-color: #6576ff;
$white: #fff;